html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    background: #444E5C;
    grid-gap: 2em;
}

.card {
    background: white;
}
.content {
    padding: 1em;
}
span {
    height: 35px;
    display: block;
    width: 100%;
    background: #66C010;
}

p.date {
    text-align: left;
    margin: 1px;
    font-size: .7em;
    text-transform: uppercase;
}
h3 {
    margin: 0;
    color: #002145;
}
p.desc {
    font-size: .9em;
    margin-bottom: 0;
    color: #002145;
}